/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1.05em; /* 4 */
}




/*
1. Set font
*/

.content {
    font-family: normal; /*"Times New Roman", Times, serif;*/
    font-size: 16px;
  }



/*图片居中
img {
    display: block;
    margin: 0 auto;
}
*/


/*20240710*/
/*cards.html 一行排列最多 4 个*/
.hextra-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.hextra-cardst {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}



