/* 修改表格字体 */
table {
  font-family: "Helvetica Neue", Arial, sans-serif; /* 替换为你想要的字体 */
  font-size: 14px; /* 调整字体大小 */
}



.main-content {
  margin-left: 21rem !important; /* 比侧边栏宽度多 1rem */
}



